:root {
    --elevation-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}


body {
    background-color: #fafbfb;
}

#filter-panel-container {
    margin-bottom: 12px;
}

#filter-panel-filter-container {
    display: flex;
    align-items: center;
    padding: 12px;
}

#filter-panel-chips-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px;
}

#filter-panel-chips-container > button {
    min-width: 120px;
}

#filter-panel-chips-container > .MuiBox-root {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
}

#filter-panel-chips-container .MuiChip-root {
    margin-left: 12px;
}

#filter-panel-chips-container .MuiChip-root:first-child {
    margin-left: 0;
}

#filter-panel-filter-container > .MuiTypography-root {
    margin-right: 12px;
}

#filter-panel-filter-container > .MuiAutocomplete-root {
    flex-grow: 1;
}

#wire-center-content-panel {
    display: flex;
    gap: 20px;
}

#wire-center-data-table-panel {
    flex: 0 1 400px;
    min-width: 200px;
    max-height: 400px;
    overflow-y: scroll;
}

#wire-center-map-panel {
    flex: 1 1 0;
}

.wire-center-data-table-accordion-summary-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wire-center-data-table-accordion-summary-title-container {
    display: flex;
}

.wire-center-data-table-accordion-summary-title-container > .MuiTypography-root {
    margin-left: 8px;
}

.wire-center-data-table-accordion-summary-map-icon {
    cursor: pointer;
}

.wire-center-data-table-accordion-details-pan-btn {
    margin-bottom: 8px;
    text-align: center;
}

#wire-center-map-wrapper {
    overflow: hidden;
    box-shadow: var(--elevation-shadow);
}

@media (max-width: 800px) {
    #wire-center-data-table-panel {
        flex: 1 1 0;
    }
}

.mapboxgl-popup-content {
    box-shadow: var(--elevation-shadow);
    border-radius: 4px;
}

.wire-center-map-popup-content-wrapper {
    margin: 8px 8px 0 0;
}